<div class="dialog dialog-meals">
  <div class="dialog-section dialog-header">
    <app-button (onClick)="cancel()" [iconClass]="'fas fa-times'" [buttonClasses]="'btn-close'" ></app-button>
    <h3>{{config.data.title}}</h3>
  </div>
  <div class="dialog-section dialog-body">
    <app-form
      [formModel]="config.data.formModel"
      [formActions]="config.data.formActions"
      [formErrors]="config.data.formErrors"
      [formCSSClass]="config.data.formCSSClass"
      [submissionInProgress]="config.data.submissionInProgress"
      [submissionSuccessful]="config.data.submissionSuccessful">
      <app-meal-foods
        before-actions
        [currentMealId]="config.data.currentMealId"
        (onAddMealFood)="config.data.addFoodToMeal($event)"
      >
      </app-meal-foods>
      <app-meal-foods-list
        before-actions
        [mealId]="config.data.currentMealId"
        [addedMealFoods]="config.data.addedMealFoods"
      ></app-meal-foods-list>
    </app-form>
  </div>
  <div class="dialog-section dialog-footer">
  </div>
</div>
