<app-artifacts
  [artifactName]="'food'"
  [artifacts]="userFoods"
  [deleteButtonFunction]="deleteButtonFunction"
  (artifactClicked)="showEdit($event)"
  [loading]="loading"
  [showToolbar]="false"
>
  <app-tool-bar
    zone-header
    [toolbarClasses]="'toolbar-artifacts toolbar-food'"
    [isResponsive]="true"
    [tools]="toolbarFunctions"
  >
    <app-sort
      zone-sort-container
      [sortOrders]="sortKeys"
      (sortSelected)="sortFoods($event)" >
    </app-sort>
  </app-tool-bar>
</app-artifacts>
