<div class="tool-bar-functions-container" [ngClass]="[toolbarClasses, isResponsive && 'tool-bar-responsive']">
  <ul class="tool-bar-list" *ngIf="tools.length">
    <li class="tool-bar-item" *ngFor="let tool of tools">
      <app-button (onClick)="tool.definition($event)"  [buttonText]="tool.title" [buttonClasses]="tool.cssClasses" [iconClass]="tool.iconClass"></app-button>
    </li>
  </ul>
  <div class="tool-bar-sort-container">
    <ng-template appComponentInsertion></ng-template>
  </div>
</div>
