@import 'appColors';
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
//@import '@fortawesome/fontawesome-free/scss/icons';
//@import '@fortawesome/fontawesome-free/scss/variables';
//@import '@fortawesome/fontawesome-free/scss/mixins';

.tool-bar-list {
  margin-bottom: 0;
  padding: 0;
}

.tool-bar-item {
  list-style-type: none;
}


.tool-bar-item {
  display: inline-block;
  margin: 0 .5rem;
}


@include media-breakpoint-down(md) {
  .tool-bar-functions-container {
    &.tool-bar-responsive {
      .tool-bar-item {
        margin: .5rem;
      }
    }

    ::ng-deep {
      .toolbar-btn-responsive {
        &.btn {
          .btn-text {
            display: none;
          }
        }
      }
    }
  }

  .tool-bar-sort-container {
    padding: 0.75rem;
    background-color: black;
  }
}

@include media-breakpoint-up(md) {
  .tool-bar-container {
    display: flex;
    align-content: stretch;
    background-color: transparentize($paleGray, 0.1);
    padding: .75rem .5rem;
    > div {
      flex-basis: 50%;
    }
  }

  .tool-bar-sort-container {
    display: flex;
    justify-content: flex-end;
  }
}

