<div class="component-container component-container-login">
      <div class="form-container">
        <div class="form-title">
          <h1>Sign In</h1>
        </div>
        <app-form [formModel]="loginFormFieldsModel"
                  [formActions]="loginFormActions"
                  [formErrors]="loginErrors"
                  [formCSSClass]="'login'"
                  [submissionInProgress]="loginInProgress"
                  [submissionSuccessful]="loginSuccessful">
        </app-form>
        <div><p>Or if you havent already, <a routerLink="/sign-up">Sign Up</a>.</p></div>
      </div>
</div>
