<div class="component-container component-container-meal-foods-list">
  <h4>Foods in this meal</h4>
  <ul class="artifact-sub-item-list list-meal-foods">
    <app-artifact-sub-item
      *ngFor="let addedMealFood of addedMealFoods"
      [artifactSubItemName]="addedMealFood.food.name"
      [artifactSubItemQty]="addedMealFood.qty"
      [artifactSubItemMeasurement]="addedMealFood.food.measurement"
      [artifactSubItemClass]="'meal-food-added'" >
    </app-artifact-sub-item>
    <app-artifact-sub-item
      *ngFor="let currentMealFood of currentMealFoods"
      [artifactSubItemName]="currentMealFood.name"
      [artifactSubItemQty]="currentMealFood.qty"
      [artifactSubItemMeasurement]="currentMealFood.measurement"
      [artifactSubItemClass]="'meal-food-current'" >
    </app-artifact-sub-item>
  </ul>
</div>
