<div class="dialog dialog-delete-confirm">
  <div class="dialog-section dialog-header">
    <app-button (onClick)="cancel()" [iconClass]="'fas fa-times'" [buttonClasses]="'btn-close btn-icon'" ></app-button>
    <h3>{{config.data.title}}</h3>
    <hr>
  </div>
  <div class="dialog-section dialog-body">
      <div class="tenant-search-container">
        <div *ngIf="isAuthed" class="tenant-search">
          <app-search
            [resultsPlaceholder]="currentTenant?.name || 'Search for a tenant'"
            (onResultSelected)="setCurrentTenant($event)"
            [searchSource]="searchTenantsSource"
            (onSearchTermChange)="searchTenants($event)"
          ></app-search>
        </div>
      </div>
  </div>
  <div class="dialog-section dialog-footer">
    <app-button
      [buttonText]="'Logout'"
      [buttonClasses]="'btn-primary btn-wide'"
      (onClick)="logout()"
    >
    </app-button>
  </div>
</div>
