<app-form
          [formModel]="mealFoodFormFieldsModel"
          [formActions]="mealFoodFormActions"
          [formErrors]="mealFoodFormErrors"
          [formCSSClass]="'form-meal-food form-inline'"
          (onFormBuild)="setInitialFormValues($event)">
  <app-search zone-before-fields
              [cssClasses]="'block search-foods'"
              [labelText]="'Add a food'"
              [resultsPlaceholder]="selectedFood?.name || 'Add for a food'"
              (onResultSelected)="selectFood($event)"
              [searchSource]="searchFoodsSource"
              (onSearchTermChange)="searchFoods($event)"
  ></app-search>
</app-form>
