@import 'appColors';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.header-bar {
  background-color: $secondary;
  position: relative;
}

.header-section {
  line-height: 1;
  display: flex;
  padding: 0 1em;
  background-color: $secondary;
  width: 100%;
  align-items: flex-end;
}

.header-section-main {
  padding-right: 0;

  .header-app-name-container {
    flex: 100% 2;
  }

  .header-menu-btn-container {
    align-self: center;
    position: relative;
  }

  ::ng-deep {
    .header-menu-btn {
      position: absolute;
      top: 50%;
      right: 0;
      width: 60px;
      height: 60px;
      transform: translateY(-50%);
      border: none;
    }
  }
}

.header-app-name-container {
  margin-top: 0.5em;
  display: flex;
  align-items: center;

  .app-name {
    font-family: 'Fugaz One', cursive;
    margin-bottom: 0;
    line-height: 1;
  }
}

.tenant-name {
  margin-bottom: 0.5em;
  font-size: 0.85em;
}

