<div class="header-bar">
  <div class="header-section header-section-main">
    <div class="header-bar-item header-app-name-container">
      <h1 class="app-name">Eatz</h1>
    </div>
    <div *ngIf="isAuthed" class="header-bar-item header-menu-btn-container">
      <app-button
        [buttonClasses]="'btn-icon header-menu-btn'"
        [iconClass]="'fas fa-ellipsis-v fa-lg'"
        (onClick)="showMainMenu()"
      >
      </app-button>
    </div>
  </div>
  <div *ngIf="isAuthed && currentTenant" class="header-section header-section-tenant-name">
    <p class="tenant-name">{{currentTenant.name}}</p>
  </div>
</div>
