@import 'appColors';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.header-bar {
  background-color: $secondary;
  height: 60px;
  position: relative;
  padding: 0 1.25em;

  @extend .select-tenant;

  &.select-tenant {
    .header-app-name-container {
      left: 1em;
      transform: translate(0, -50%);
    }
  }
}

.header-app-name-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 500ms linear, transform 500ms linear;

  .app-name {
    font-family: 'Fugaz One', cursive;
    margin-bottom: 0;
  }
}

.header-current-tenant-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 1em;
}

::ng-deep {

  .header-bar {

    .search-input {
      border: none;
      outline: none;
      display: inline-block;
      text-align: right;

      &:not(:focus) {
        background-color: transparent;
        &::placeholder {
          color: white;
        }
      };
    }

    .search-results {
      position: absolute;
      padding: 0;
      color: #4be14b;
    }
  }

}

