<div class="header-bar">
  <div class="header-app-name-container">
    <h1 class="app-name">Eatz</h1>
  </div>
  <div class="header-current-tenant-container">
    <div *ngIf="isAuthed" class="header-search-container">
      <app-search
        [resultsPlaceholder]="currentTenant?.name || 'Search for a tenant'"
        (onResultSelected)="setCurrentTenant($event)"
        [searchSource]="searchTenantsSource"
        (onSearchTermChange)="searchTenants($event)"
      ></app-search>
    </div>
    <div class="header-select-tenant-btn-container">
      <app-button
        buttonClasses="btn-transparent btn-icon"
        iconClass="fas fa-home fa-lg"
        [showLabel]=false
      >
      </app-button>
    </div>
  </div>
</div>
