@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

$animationDuration: 300ms;
$inDelay: 300ms;
$outDelay: 500ms;

.overlay {
  display: flex;
  //flex-direction: column;
  //position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  &.active {
    animation: fadeIn $animationDuration linear both;

    .modal {
      animation:
        fadeIn  $animationDuration linear $inDelay both,
        slideUp $animationDuration linear $inDelay both;
    }
  }

  &:not(.active) {
    animation: fadeOut $animationDuration linear $outDelay both;

    .modal {

      animation:
        fadeOut $animationDuration linear both,
        slideDown $animationDuration linear both;
    }
  }
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: block;
  border-radius: 10px;
  margin: 0 auto;

}

@include media-breakpoint-down(sm) {
  .modal-container {
    width: 90%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(25%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25%);
  }
}


