<ngx-smart-modal #deleteFoodModal identifier="deleteFoodModal" [customClass]="'nsm-dialog-animation-btt'">
  <div class="">
    <div class="modal-header">
      <h5 class="modal-title">Delete Food?</h5>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{deleteFoodModal.getData()?.name}}?</p>
    </div>
    <div class="modal-footer">
      <button (click)="deleteFood()" type="button" class="btn btn-primary">Yes</button>
      <button (click)="deleteFoodModal.close()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
    </div>
  </div>
</ngx-smart-modal>