@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.component-container-side-bar {
  position: fixed;
  top: 0px;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: transparentize(black, 0.2)
}

@include media-breakpoint-down(sm) {
  .component-container-side-bar {
    width: 100%;
  }
}
