@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.app-root {
  background-image: url("../assets/images/hamburger-494706_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-flow: row wrap;

  .section {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;

    &.section-header {
      flex-basis: 100%;
    }

    &.section-main {
      overflow-y: auto;
      flex-grow: 5;
    }
  }


}

::ng-deep {
  .component-container {
    height: 100%;
    width: 100%;
  }
}



@include media-breakpoint-down(sm) {
  .app-root {
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    align-content: stretch;
    flex-wrap: nowrap;

    .section {
      flex-grow: 0;

      &.section-header {

        flex-basis: auto;
      }

      &.section-main {
        flex-grow: 2;
        order: 1;
        position: relative;
      }

      &.section-nav {
        order: 2;
      }

    }


  }

}
