.app-root {
  background-image: url("../assets/images/hamburger-494706_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;


  .section-main {
    flex-grow: 1;
    //height: 100%;
    overflow-y: auto;
  }

}

::ng-deep {
  .component-container {
    height: 100%;
    width: 100%;
  }
}



@include media-breakpoint-down(sm) {
  .app-root {
    display: flex;
    flex-direction: column;
  }

  .section-main {
    order: 1;
    position: relative;
  }

  .section-nav {
    order: 2;
  }
}
