@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.app-root {
  background-image: url("../assets/images/hamburger-494706_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;

  .section-body {
    flex-grow: 1;
    display: flex;

    .sub-section-main {
      overflow: hidden;
      flex-grow: 5;
      flex-shrink: 1;
    }

    .sub-section-nav {
      flex-shrink: 2;
    }
  }



}

::ng-deep {
  .component-container {
    height: 100%;
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .section-body {
    overflow: hidden;
  }
}



@include media-breakpoint-down(sm) {
  .app-root {
    height: 100%;
    width: 100%;
    position: fixed;
    align-content: stretch;
    flex-wrap: nowrap;

    .section-body {
      display: flex;
      flex-direction: column;
      max-height: 100%;
    }
  }

  .section-body {
    overflow: auto;
  }


  .sub-section-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}
