@import "appColors";
@import "appAnimations";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.form {
  //margin-top: 50px;
  ::ng-deep {
    .btn {
      @extend .form-btn;
    }
  }
}

.form-control {
  margin-top: 5px;
  border-radius: unset;
}

.form-group {
  margin-bottom: 8px;
}

label {
  width: 100%;
  font-size: 0.75rem;
}

.form-btn {
  width: 100%;
}

.form-message .form-field-message, .form-btn {
  border-radius: 0;
}

.form-field-message {
  display: none;
  font-weight: 600;
}

.form-control {
  transition: border-color 500ms linear;

  &.ng-valid {
    border: 1.5px solid transparent;

    &:not(.ng-untouched) {
      border-color: $green;
    }
  }

  &:not(.ng-untouched) {
    &.ng-invalid {
      border: 1.5px solid $softRed;

      & ~ .form-field-message {
        display: block;
        color: $softRed;
      }
    }
  }
}


