<div class="component-container component-container-form {{formCSSClass}}">
  <ng-content select="[zone-before-form]"></ng-content>
  <form *ngIf="form" [formGroup]="form" class="form">
    <ng-content select="[zone-before-fields]"></ng-content>
    <div formArrayName="groupsArray" class="form-groups-array">
      <div *ngFor="let group of groupsArray.controls; let groupIndex = index" class="form-array {{getModelGroup(groupIndex).cssClasses}}">
        <div [formGroup]="getGroup(groupIndex)" class="form-group">
          <div formArrayName="fieldsArray" class="form-fields-array">
            <div *ngFor="let field of getFormGroupFields(group).controls; let fieldIndex = index" class="form-field">
              <label class="form-control-label {{ getField(groupIndex, fieldIndex).cssClasses }}">
                <span>
                  {{ getField(groupIndex, fieldIndex).name }}
                </span>
                <input [type]="getField(groupIndex, fieldIndex).type" formControlName="{{fieldIndex}}" class="form-control">
                <span *ngFor="let message of getFieldValidationErrorMessages(field)"
                      class="form-field-message">{{message}}</span>
                <span *ngFor="let message of getGroupValidationErrorMessages(group)"
                      class="form-field-message">{{message}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="submissionSuccessful === false" class="submission-errors alert alert-danger">
      <div class="form-message" *ngFor="let message of formErrors">{{message}}</div>
    </div>
    <ng-content select="[before-actions]"></ng-content>
    <div class="form-actions">
      <div *ngFor="let action of formActions">
        <app-button
                    (onClick)="action.method(form)"
                    [showLabel]="action.showButtonLabels"
                    [disabled]="!form.valid"
                    [loading]="submissionInProgress"
                    [buttonText]="action.name"
                    [buttonClasses]="action.actionCSSClasses?.buttonClasses"
                    [iconClass]="action.actionCSSClasses?.iconClasses"
        ></app-button>
      </div>
    </div>
  </form>
</div>




