@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.component-tenants {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.component-body {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em 5em;
  align-items: stretch;
}

.tenant-container {
  flex-basis: calc(100% / 6);
  padding: 0.75em;

  @include media-breakpoint-down(lg) {
    flex-basis: 25%;
  }

  @include media-breakpoint-down(md) {
    flex-basis: calc(100% / 3);
  }

  @include media-breakpoint-down(sm) {
    flex-basis: 100%;
  }
}

.tenant {
  background-color: rgba(0, 0, 0, 0.6);
  padding: .25em 1em;
  border-radius: 10px;
  height: 100%;
  display: flex;
  //justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  ::ng-deep {
    .tool-bar-container {
      &.toolbar-tenant {
        background-color: transparent;
      }
    }


    .btn-artifact-action {
      .btn-text {
        display: none;
      }

      &.btn-artifact-action-delete {
        font-size: 1.25rem;
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }
  }


  @include media-breakpoint-up(xl) {
      padding: 1em 1.5vw;
  }

  @include media-breakpoint-down(sm) {
      flex-wrap: nowrap;
  }


}

.tenant-item {
  flex: 1 100%;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.tenant-name {
  text-align: center;
}

@include media-breakpoint-down(sm) {
  .component-body {
    flex-direction: column;
    align-items: stretch;
  }

  .tenant-container {
    padding: .125em 0;
    border-radius: 5px;
  }

  .tenant {
    align-items: center;
    padding: 0.33em 0.75em;
  }

  .tenant-item {
    margin-bottom: 0;
  }

  .tenant-name {
    order: 2;
  }

  .tenant-actions {
    order: 100;

    ::ng-deep {
      .btn-container {
        margin: 0;
      }
    }
  }

  .tenant-image {
    flex-basis: 25%;
  }
}

@include media-breakpoint-down(md) {
  .component-container-tenants {

    ::ng-deep {

      .tool-bar-container {
        &.toolbar-tenants {
          background-color: transparent;
        }

        &.toolbar-tenants {
          position: fixed;
          bottom: 3rem;
          right: 0;
          z-index: 2;
        }
      }
    }
  }
}




