<app-artifacts
  [artifactName]="'tenant'"
  [toolbarFunctions]="toolbarFunctions"
  [artifacts]="userTenants"
  [crudState]="crudState"
  [sideBarTitle]="sideBarTitle"
  [formFields]="tenantFormFields"
  [formFieldsModel]="tenantFormFieldsModel"
  [formInProgress]="tenantFormInProgress"
  [formSuccessful]="tenantFormSuccessful"
  [formErrors]="tenantFormErrors"
  [formActions]="tenantFormActions"
  [deleteButtonFunction]="deleteButtonFunction"
  [currentArtifactId]="currentTenantId"
  [sideBarOpen]="sideBarOpen"
  [deleteButtonFunction]
  (artifactClicked)="showEdit($event)"
>

</app-artifacts>
