<div class="nav nav-main" *ngIf="isAuthenticated">
    <ul class="nav-main-list">
        <li *ngFor="let navItem of navItems" class="nav-main-item">
            <a (click)=setActive(navItem)
               routerLink="{{navItem.url}}"
               class="nav-main-link"
               [ngClass]="{active: navItem === activeRoute}">
              <span class="nav-link-text">{{navItem.title}}</span>
              <i class="nav-icon" [ngClass]="navItem.iconClass"></i>
            </a>
        </li>
    </ul>
</div>
