<div class="component-container component-container-artifacts component-container-{{artifactName}}s">
  <div class="component-header component-header-{{artifactName}}">
    <ng-content select="[zone-header]"></ng-content>
    <div *ngIf="showToolbar">
      <app-tool-bar  [toolbarClasses]="toolbarClasses" [isResponsive]="true" [tools]="toolbarFunctions"></app-tool-bar>
    </div>
  </div>
  <div class="component-loader-container" [hidden]="!loading">
    <div class="loader-wrapper">
      <ngx-spinner [fullScreen]="false" type="pacman" size="medium"></ngx-spinner>
    </div>
  </div>
  <div class="component-body component-body-{{artifactName}}s" [hidden]="loading">
    <div class="artifact-container artifact-container-{{artifactName}}s" *ngFor="let artifact of artifacts">
      <div class="artifact artifact-{{artifactName}}" (click)="onArtifactClicked(artifact)">
        <div class="artifact-item artifact-image-container {{artifactName}}-item {{artifactName}}-image-container">
          <img class="artifact-image {{artifactName}}-img img-fluid" [src]="artifact.imgSrc || 'assets/images/300x300placeholder.png'"/>
        </div>
        <div class="artifact-item {{artifactName}}-item artifact-name {{artifactName}}-name">
          {{artifact?.name}}
        </div>
        <div class="artifact-item artifact-actions {{artifactName}}-actions">
          <app-button (onClick)="deleteButtonFunction.definition($event, artifact)"
                      [buttonText]="" [buttonClasses]="deleteButtonFunction.cssClasses"
                      [iconClass]="deleteButtonFunction.iconClass">
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
