<app-artifacts
  [artifactName]="'meal'"
  [toolbarFunctions]="toolbarFunctions"
  [artifacts]="userMeals"
  [crudState]="crudState"
  [sideBarTitle]="sideBarTitle"
  [formFields]="mealFormFields"
  [formFieldsModel]="mealFormFieldsModel"
  [formInProgress]="mealFormInProgress"
  [formSuccessful]="mealFormSuccessful"
  [formErrors]="mealFormErrors"
  [formActions]="mealFormActions"
  [deleteButtonFunction]="deleteButtonFunction"
  [currentArtifactId]="currentMealId"
  [sideBarOpen]="sideBarOpen"
  [deleteButtonFunction]
  (artifactClicked)="showEdit($event)"
>

</app-artifacts>
