.dialog {
  position: relative;
  background-color: transparent;
  margin: 25px;

  hr {
    margin: .25em 0;
    border-color: white;
  }
}

.dialog-body {
  flex-grow: 1;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;

  .btn {
    margin-left: 1em;
  }
}

::ng-deep {

  .dialog-footer {

    .btn {
      margin-left: 1em;
    }
  }
}
