@import 'appColors';

.block {
  .search-input,
  .search-label {
    display: block;
  }

  .search-input {
    width: 100%;
  }
}

.search-input {
  border-radius: unset;
  box-shadow: none;
}

.search-label {
  margin-bottom: 0;
}

.search-input-wrapper {
  position: relative;
}

.search-input,
.search-results {
  padding-left: 0.75rem;
  margin-bottom: 0;
}

.search-input {
  padding-right: 2.5em;
}

.search-results {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.search-result {
  margin: 0.15em 0;
}

.search-icon-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
  color: gray;
  text-align: center;
  margin-right: 0.75em;
}

.search-container {
  position: relative;

  &.active {
   .search-results {
     display: block;
   }
  }
}

.search-results {
  display: none;
  list-style-type: none;
  width: 100%;
  background-color: white;
  color: black;
}
